.Delete {
  width: 214px;
  height: 77px;
  font-size: 2.36rem;
  align-items: center;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Pretendard';
  font-weight: 600;
  background-color: #f59d6c;
}

.Delete:hover {
  border-color: #ffffff;
  background-color: #b2673c;
}

.Delete:disabled {
  display: none;
}
