.SrcImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 20px;
}

.SrcImageBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.BaseImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(147, 155, 155);
  border-radius: 20px;
}

.BaseImage img {
  display: block;
}
