.Nav {
  display: block;
  top: 0;
  right: 0;
}

.NavList {
  width: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 180px;
}

.NavList a {
  text-decoration: none;
  font-size: 37.9px;
  font-weight: 700;
  color: #4e4c4c;
}
